body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color:whitesmoke;
    min-height: 92vh;
    margin-top: 8vh;
    color: black
}

h1 {
    font-size: larger;

}

.navbar {
    background-color: slategray;
    font-family: 'Courier New', Courier, monospace;
    
}
.navbar-item{
    color: whitesmoke;
    font-size: larger;
    font-weight: bold;
}

a{
    color: inherit
}

a:hover {
    text-decoration: underline;
    color: initial;
}

.is-child {
    background-color: black;
}


.is-parent{
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    /* margin: 0 10px; */
}

.card-link{
    color: white;
}

.button {
    font-family: inherit;
    font-weight: inherit;
    color: whitesmoke;
    font-size: larger;
    
}

.search-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: black;
    
}

.footer{
    background-color: whitesmoke;
    color: black;

}

.showcolumn {
    margin-top: 5vh;

}

.showcontent{
    justify-content: center;
    align-items: center;
    vertical-align: center;
    flex-direction: column;
}
.music-tags{
    margin-left: 5%;
    display: block;
}

.embed {
    margin-left: 10%;
    width: 40vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.find-artist {
    text-align: center;
    justify-content: center;
    align-items: center;

}

.instructions-list{
    list-style-type:initial;
}

.find-form{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.artist-info{
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.center{
    text-align: center;
}

.about-info{
    justify-content: space-around;
    align-items: center;
    text-align: center; 
}