{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class= 'title'>tag: {{slug}}</h1>

<div class='tile is-ancestor is-mobile mx-auto'>
    <div class ='columns is-multiline'>
    {% for music in music %}
    <div class='column is-4'>
    <div class = "tile is-parent">
    <div class='tile is-child box'>
    <a class = 'card-link' href="/music/{{music.spotify_uri}}"><img src="{{ music.album_art }}" alt="{{music.name}} album art">
    {% for artist in music.artist.all %} 
    {{artist}}, 
    {% endfor %} 
    {{ music.name }}
    </a>
    </div>
</div>
</div>


    {% endfor %}
</div>
</div>

{% endblock %}
