{% extends 'base.html' %} {% load static %} {% block content %}
<div class="columns">
  <div class="column showcolumn is-6">
    <h1 class="title">{{ artist.name }}</h1>
    {{ artist.spotify_embed | safe }}

    <ul>
      <li>{{ artist.bio }}</li>
      <li>Location: {{ artist.location }}</li>
      {% if artist.discogs_link %}
      <li><a href="{{artist.discogs_link}}">Find on Discogs</a></li>
      {% endif %} {% if artist.bandcamp_link %}
      <li><a href="{{artist.bandcamp_link}}">Find on bandcamp</a></li>
      {% endif %}
    </ul>
    <div class="music-tags">
      {% for tag in artist.tags.all %}
      <span class="tag is-dark">{{ tag }}</span>
      {% endfor %}
    </div>
    <div class="showcolumn column is-6 showcontent">
      {% for music in music %}
      <div></div>
      <a href="/music/{{music.spotify_uri}}">
        <img src="{{music.album_art}}" alt="{{music.name}} album art" />
        {{ music.name }}
      </a>
      {% endfor %}
    </div>
  </div>

  {% endblock %}
</div>
