{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>
        {{ artist.name }} 

    </h1>
    {{ artist.spotify_embed | safe }}

    <ul>
        <li>{{ artist.bio }}</li>
        <li>Location: {{ artist.location }}</li>
        {% if artist.discogs_link %}
        <li><a href="{{artist.discogs_link}}">Find on Discogs</a></li>
        {% endif %}
        {% if artist.bandcamp_link %}
        <li><a href="{{artist.bandcamp_link}}">Find on Discogs</a></li>
        {% endif %}
        <li>
            {% for tag in artist.tags.all %}
            {{ tag }}
            {% endfor %}
        </li>
    </ul>
    {% for music in music %}
    <a href="/music/{{music.spotify_uri}}">
    <img src="{{music.album_art}}" alt="{{music.name}} album art">
    {{ music.name }}
    </a>
    {% endfor %}

{% endblock %}