{% extends 'base.html' %}
{% load static %}
{% block content %}

    
    <h1>
        {% for artist in music.artist.all %}
        {{ artist }}, 
        {% endfor %}
        {{ music.name }}, {{ music.release_type }}
    </h1>
    {{ music.spotify_embed | safe }}

    <ul>
        <li>{{ music.description }}</li>
        <li>Release Date: {{ music.release_date }}</li>
        {% if music.discogs_link %}
        <li><a href="{{music.discogs_link}}">Find on Discogs</a></li>
        {% endif %}
        <li>Added By: {{ music.curator }}</li>
        <li>
            {% for tag in music.tags.all %}
            {{ tag }}
            {% endfor %}
        </li>


    </ul>

{% endblock %}